<div class="about-container">
  <h2 class="about-container-title">About</h2>
  <p>
    Specialisation in web designing with newest Web technologies to endure like
    Angular,VUE js,Aurelia, HTML, CSS, Sass,JavaScript, TypeScript, Npm. Also
    have an experience with .NET CORE , SQL,python. Mainly worked in front-end
    UI Designing and Backend .Also skilled in Microsoft Excel, Customer Service,
    Microsoft Word, and Microsoft Office. My role is to write and code that meet
    the requirements of our mocks and fulfils our user stories. I also monitor
    and process pull requests for production deployments. Strong engineering
    professional with a Bachelor's degree focused in Computer Software
    development.
  </p>
  <h2 class="about-container-title">My Skills</h2>
  <div class="skills">
    <div class="cards">

      <div class="skills-card">
        <img src="../../assets/angular.png" alt="" />
        <h2>Angular</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/javascript.svg" alt="" />
        <h2>javascript</h2>
      </div>

      <div class="skills-card">
        <img src="../../assets/typescript.svg" alt="" />
        <h2>TypeScript</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/html5.svg" alt="" />
        <h2>HTML</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/vuejs.svg" alt="" />
        <h2>Vuejs</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/aurelia.svg" alt="" />
        <h2>Aurelia</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/css.svg" alt="" />
        <h2>CSS</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/ionic.svg" alt="" />
        <h2>Ionic</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/csharp.svg" alt="" />
        <h2>C#</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/sqlite.svg" alt="" />
        <h2>SQLite</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/github.svg" alt="" />
        <h2>github</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/visualstudio.svg" alt="" />
        <h2>Visual studio</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/android-studio.svg" alt="" />
        <h2>Android Studio</h2>
      </div>
      <div class="skills-card">
        <img src="../../assets/vscode.png" alt="" />
        <h2>vs code</h2>
      </div>
    </div>
  </div>
</div>
