<div class="experience-container">
  <h1>Experience</h1>
  <div class="experience">
    <div class="lighter-div">
      <div class="exp">
        <h2>Software Developer II</h2>
        <div class="exp-desc">
          <h3>UST ,India</h3>
          <h4>SDWAN</h4>
          <p>
            A Software-defined Wide Area Network (SD-WAN) is a virtual WAN
            architecture that allows enterprises to leverage any combination of
            transport services—including MPLS, LTE and broadband internet
            service to securely connect users to applications.
          </p>
        </div>
      </div>
      <div class="exp">
        <h2>Software Engineer</h2>
        <div class="exp-desc">
          <h3>Claysys Technologies ,India</h3>
          <h4>HomeAutomation System</h4>
          <p>An IOT Based Mobile Application to control all home devices .</p>
        </div>
      </div>
      <div class="exp">
        <h2>Associate Software Engineer</h2>
        <div class="exp-desc">
          <h3>Investipro ,India</h3>
          <h4>HR Investigation</h4>
          <p>
            A simplifies workplace investigations by using cloud-based
            technology to automate the investigation process
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
