<div>
  <div class="contactme-container">
    <!-- <div class="contact-header">
      <h3>Contact Information</h3>
    </div> -->
    <div class="contact">
      <h2 style="padding-left: 130px;">Contact Me!</h2>
      <div class="contact-card">
        <div>
          <img src="../../assets/gmail.png" />
          <span class="align-top"> kcabhirami@gmail.com </span>
        </div>
      </div>
      <div class="contact-card">
        <div>
          <img src="../../assets/phone-call.png" />
          <span class="align-top">8943406457</span>
        </div>
      </div>
        <div class="contact-card">
          <div>
            <img src="../../assets/maps-and-flags.png" />
            <span class="align-top"> Kerala,India</span>
          </div>
        </div>
        <div class="contact-card">
          <div>
            <img src="../../assets/linkedin.png" />
            <span class="align-top"></span><a href="https://www.linkedin.com/in/abhirami-kc-46874917b/">LinkedIn Profile</a>
          </div>
        </div>
    </div>
    <!-- <div class="test">

  </div> -->
  </div>
</div>

