.contact {
  background-color: #3d3e42;
  width: 30vw;
  padding: 10vh;
  flex-direction: column;
  gap:50px;
}
.contactme-container {
  margin: 70px;
  display: flex;
  margin-top: 90px;
  margin-left: 406px;
}
img{
width: 18px;
    margin-top: 4px;
    margin-bottom: -3px;
}
// .contact-card-gmail {
//   border-radius: 25px;
//   background: url(../../assets/gmail.png);
//   background-position: left top;
//   background-repeat: repeat;
//   padding: 20px;
//   width: 200px;
//   height: 150px;
// }
// .iconclass {
//   border-radius: 50%;
//   padding-left: 7px;
//   padding-right: 7px;
//   padding-top: 13px;
//   padding-bottom: 5px;
//   color: #1a1a1a;
//   background-color: transparent;
//   font-size: small;
//   height: 30px;
//   width: 37px;
// }
.align-top {
margin-left: 30px;
}
.contact-card {
  margin-bottom: 20px;
  margin-left: 100px;

}

.contact-header{

}
a{
  color: #fff;
}
