
<div class="app-content">
  <div class="row">
    <div class="column">
      <div class="app-about">
        <div class="app-title">
          <h3>Hi 👋, I'm <span class="name" >Abhirami , </span> <br/>
            <span class="occupation">Software Developer</span> </h3>
        </div>
          <div class="detail-section">
            <button class="button-17" role="button"><a routerLink="/contact">Contact Me</a></button>
            <button class="button-17" role="button"><a target="_blank" href="https://drive.google.com/file/d/1LHKoX7dPAgY4zILHw4g9mhB8jA62DlHQ/view?usp=drive_link">Download CV</a></button>
          </div>
      </div>
    </div>
    <div class="column">
     <div class="image-section">
      <img src="../../assets/Clipped_image_20231206_223128.png">
    </div>
  </div>
  <router-outlet></router-outlet>
</div>


